*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: white;
}
.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: rgb(221, 84, 29);
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    margin-top: 0;
    z-index: 1;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: rgb(221, 84, 29);
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: rgb(221, 84, 29);
}

nav.black ul li a {
    color: white;
}

nav.black .logo {
    color: white;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}

nav ul li a {
    position: relative;
}
nav ul li a,
.list-unstyled li a {
    text-decoration: none;
    color: rgb(221, 84, 29);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: rgb(221, 84, 29);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: white;
    display: none;
}
nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -40%;
    left: 50%;
    width: 0%;
    background: white;
    height: 7%;
    transition: all 0.2s ease;
}
nav ul li a:hover:before {
    width: 100%;
    left: 0;
}
nav ul li a:hover{
    text-decoration: none;
}

.shadow {
    box-shadow: 0 0 12px 0px #333333c7;
}


/* Mens Poster Section */

#men-banner{
    height: 100%;
    width: 100%;
    background: url(../images/MensPoster.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#men-banner #content{
    width: 100%;
    height: 100%;
    text-align: center;
    background: #00000070;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17em 5em 10em;
}
#men-banner #content h1{
    font-size: 50px;
    padding: 0 0px 8px 0;
}
#men-banner #content button{
    padding: 10px 8px;
    margin: 10px 0px;
    width: 19%;
    font-size: 27px;
    border: 3px solid #dd541d;
    background-color: #00000059;
    color: #ff7640;
    cursor: pointer;
    transition: all 0.1s;
}
#men-banner #content button:hover{
    color: black;
    background-color: #dd541d ;
}


/* Mens Product Section */

#men-product {
    background-color: rgb(221, 84, 29);
    padding: 50px 40px;
}
#men-product .heading {
    display: block;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: white;
    margin: 0 auto 40px auto;
    font-weight: 800;
}

.card {
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.card-title {
    font-weight: 600;
}
.card-title,
.card-text {
    color: black;
}

.col {
    margin: 20px auto;
}
.container-fluid {
    padding: 40px;
}