/* @import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    height: 10vh;
    background: rgb(221, 84, 29);
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.nav .logo-top {
    color: white;
    font-size: 30px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
}

.top-nav-link:not(:last-child) {
    margin-right: 20px;
}

.nav ul li a {
    color: white;
}

/* ================================= */
/* main  */
/* ================================= */
.main {
    height: 80vh;
    background: whitesmoke;
    padding: 0 8%;
}

/* section product  */

.section__product {
    height: 100%;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__product-box {
    height: 100%;
    width: 49%;
    /* border: 1px solid red; */
}

.section__product-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section__product-box-2 {
    /* background-color: red; */
    margin-top: 100px;
    padding: 0 1%;
    position: relative;
}

.section__product-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.section__product-sdis {
    font-size: 18px;
    line-height: 1.4;
}

.block__span {
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8px;
}

.section__product-c2abox {
    position: absolute;
    bottom: 100px;
}

.section__product-c2a {
    font-size: 18px;
    color: white;
    padding: 14px 30px;
    background: #28a745;
    border-radius: 14px;
    transition: all .2s;
}

.section__product-c2a:hover {
    border-radius: 0;
}

.section__product-c2a:not(:last-child) {
    margin-right: 20px;
}

/* ==================== */
/* footer  */
/* ============================ */

footer {
    height: 10vh;
    background: whitesmoke;
}

.footer p {
    font-size: 18px;
    color: black;
    text-align: center;
    padding-top: 20px;
}