/* body{
    margin: 0;
}
header {
 
} */

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

body {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: rgb(221, 84, 29);
}

.wrapper {
  background-image: url("./images/bgshoes2.png");
  background-size: cover;
  height: 980px;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: rgb(221, 84, 29);
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  margin-top: 0;
  z-index: 1;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: rgb(221, 84, 29);
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: rgb(221, 84, 29);
}

nav.black ul li a {
  color: white;
}

nav.black ul li a:hover {
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

nav.black .logo {
  color: white;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a,
.list-unstyled li a {
  text-decoration: none;
  color: rgb(221, 84, 29);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: none;
  color: rgb(221, 84, 29);
  border-bottom: 2px solid rgb(221, 84, 29);
  padding-bottom: 10px;
}
.menu-icon {
  line-height: 60px;
  width: 100%;
  background: rgb(221, 84, 29);
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: white;
  display: none;
}

.heading {
  display: block;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  color: white;
  margin: 0 auto 40px auto;
  font-weight: 800;
}
.card {
  margin: auto;
  font-family: "Inter", sans-serif;
}

.card-title {
  font-weight: 600;
}
.card-title,
.card-text {
  color: black;
}

.col {
  margin: 20px auto;
}
.container-fluid {
  /* max-width: 1200px; */
  padding: 40px;
  background: rgb(221, 84, 29);
}

.explore-btn {
  margin: auto;
}

.explore-btn > a {
  text-decoration: none;
  color: white;
}

.latest-trend {
  background-image: url(./images/bg3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 540px;
}

.left-heading {
  text-align: left;
  font-family: "Great Vibes", cursive;
  padding: 70px 0 0 70px;
  margin: auto;
  color: black;
}

.left-heading h1 {
  font-size: 72px;
}

.latest-trend .left-heading h1 {
  text-shadow: 2px 3px 4px #343a40;
}

.left-heading button {
  font-family: "Helvetica Neue", sans-serif;
  margin-top: 30px;
}

.best-seller {
  background-image: url(./images/bg4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 640px;
}

.best-seller .left-heading {
  text-align: left;
  font-family: "Great Vibes", cursive;
  padding: 80px 0 0 70px;
  margin: auto;
}

.best-seller .left-heading h1 {
  text-shadow: 2px 3px 4px #343a40;
}
#button {
  display: inline-block;
  background-color: rgb(243, 234, 234);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: rgb(221, 84, 29);
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

footer .container-fluid {
  background-color: rgb(243, 234, 234);
  color: rgb(221, 84, 29);
  font-family: "Inter", sans-serif;
}

@media (max-width: 786px) {
  .wrapper {
    background-image: url("./images/bgshoes1.png");
    background-size: cover;
    height: 780px;
  }
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
    color: white;
  }

  nav ul {
    max-height: 0px;
    background: rgb(221, 84, 29);
  }

  nav.black ul {
    background: rgb(221, 84, 29);
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }
  nav ul li a {
    color: white;
  }
  nav ul li a:hover {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
  }
  .menu-icon {
    display: block;
    color: white;
  }
}
